<h1>ALIVE!</h1>
<app-post></app-post>

<!--<ul>-->
<!--  <li><strong>{{title}}</strong></li>-->
<!--  <li><strong>{{number}}</strong></li>-->
<!--  <li><strong>{{array}}</strong></li>-->
<!--  <li><strong>{{obj.b.c}}</strong></li>-->
<!--  <li><strong>{{40 + 2}}</strong></li>-->
<!--  <li><strong>{{"Hello " + "World"}}</strong></li>-->
<!--</ul>-->


<!--&lt;!&ndash;Binding&ndash;&gt;-->
<!--<img src="{{img}}" alt=""> &lt;!&ndash; Interpolation &ndash;&gt;-->
<!--<img [src]="img" alt=""> &lt;!&ndash; [] = Binding. HTML to TS &ndash;&gt;-->


<!--&lt;!&ndash;Event Binding&ndash;&gt;-->
<!--<p><strong>{{inputValue}}</strong></p>-->
<!--<input type="text" placeholder="press enter" (keyup.enter)="onInput($event)">-->
<!--<button (click)="onClick($event)">Click me!</button>-->
<!--<ul>-->
<!--  <li>{{submit}}</li>-->
<!--</ul>-->

<!--Way Binding-->
<input type="text" [(ngModel)]="title">  <!-- [()] = To Way Binding, ngModel = FormsModule -->
<p>{{title}}</p>
