<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Angular Routing</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/posts">Posts</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/about']">About</a>
    </li>
    <li>
      <button class="btn" (click)="auth.login()">Login</button>
    </li>
    <li>
      <button class="btn" (click)="auth.logout()">Logout</button>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="card">
    <!--  router-outlet - динаміка  -->
    <router-outlet></router-outlet>
  </div>
</div>

<!--  !ROUTING за посиланнями!  -->
<!--  href="/..." = буде перезавантажувати сторінку!  -->
<!--  routerLink="/..." = концепція Single-page application! І робить Preventdefault -->
<!--  [routerLink]="[/...]" = routerLink - це директива і ми можемо її забайнити - []. - для ДИНАМІКИ  -->
<!--  І тоді в подвійних лапках ми пишемо javaScript, масив - "['']"  -->
<!--  routerLinkActive="..." = Для того, щоб міняти динамічно CSS клас, який вказується в лапках  -->
<!--  [routerLinkActiveOptions]="{exact: true}" = для того, щоб "підсвічувати" сторінку Home лише тоді, коли шлях точно співпадає  -->
