<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Admin panel</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{error}}</div>

  <!--  EMAIL  -->
  <div
    class="form-control"
    [ngClass]="{invalid:form.get('email')?.touched && form.get('email')?.invalid}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('email')?.errors?.['required']">Can't be empty</small>
      <small *ngIf="form.get('email')?.errors?.['email']">Please fill correct email</small>
    </div>
  </div>

  <!--  PASSWORD  -->
  <div
    class="form-control"
    [ngClass]="{invalid:form.get('password')?.touched && form.get('password')?.invalid}"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('password')?.errors?.['required']">Can't be empty</small>

      <small *ngIf="form.get('password')?.errors?.['minlength']">
        Password must be min <u>{{form.get('password')?.errors?.['minlength'].requiredLength}}</u> characters long.
        Now we have: <u>{{form.get('password')?.errors?.['minlength'].actualLength}}</u>
        character<span *ngIf="form.get('password')?.errors?.['max']">s</span>
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn bg-primary"
    [disabled]="form.invalid || submitted"
  >Login
  </button>
</form>
